
 <div class ="mat-elevation-z8" style="text-align:center">
    <h1 class="texter">
      Add Client
    </h1>
    <button class ="menu"  mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="Admin()">Admin Home</button>
    <button mat-menu-item (click)="Home()">Client List</button>
    <button mat-menu-item (click)="logout()">Log Out</button>
  </mat-menu>
    </div>
 <form [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">     
    <mat-tab-group>
    
        
        <mat-tab label="Personal Details" ><br><br>
        <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input formControlName="firstName" matInput >
            </mat-form-field>&nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput >
          </mat-form-field> <br>
    
        <mat-form-field appearance="fill">
            <mat-label>DOB[--/--/----]</mat-label>
            <input formControlName="dateOfBirth" matInput >
          </mat-form-field>&nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <input formControlName="gender" matInput >
          </mat-form-field>  <br>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="emailId" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>&nbsp;
        <mat-form-field appearance="fill">
            <mat-label>MaritalStatus</mat-label>
            <input formControlName="maritalStatus" matInput >
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Mobile Number</mat-label>
            <input formControlName="customerMobileNumber" matInput >
          </mat-form-field>&nbsp;&nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Father Name</mat-label>
            <input formControlName="fatherName" matInput >
          </mat-form-field>&nbsp;&nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Mother Name</mat-label>
            <input formControlName="motherName" matInput >
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>PAN</mat-label>
            <input formControlName="panNumber" matInput >
          </mat-form-field>&nbsp;&nbsp;
          <mat-form-field appearance="fill">
            <mat-label>AADHAR CARD </mat-label>
            <input formControlName="aadharNumber" matInput >
          </mat-form-field>
         </mat-tab>
        <mat-tab label="Address"><br><br>
            <mat-form-field appearance="fill">
                <mat-label>Pincode</mat-label>
                <input formControlName="customerPinCode" matInput >
              </mat-form-field>&nbsp;
            <mat-form-field appearance="fill">
                <mat-label>state</mat-label>
                <input formControlName="customerState" matInput >
              </mat-form-field>&nbsp;
            <mat-form-field appearance="fill">
                <mat-label>country</mat-label>
                <input formControlName="customerCountry" matInput >
              </mat-form-field><br>
            <h3>Permanent Address</h3>
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="permanentAddress"></textarea>
              </mat-form-field><br><br>
            <h3>Current Address</h3>
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="currentAddress"></textarea>
              </mat-form-field> </mat-tab>
        <mat-tab label="Occupation Details"> <br><br>
            <mat-form-field appearance="fill">
                <mat-label>EmployeeID</mat-label>
             <input formControlName="employeeId" matInput >
              </mat-form-field>&nbsp;  
            <mat-form-field appearance="fill">
                <mat-label>Employeenature</mat-label>
                <input formControlName="employeeNature" matInput >
              </mat-form-field>&nbsp;
            <mat-form-field appearance="fill">
                <mat-label>companyname</mat-label>
                <input formControlName="companyName" matInput >
              </mat-form-field><br><br>
            <mat-form-field appearance="fill">
                <mat-label>Designation</mat-label>
                <input formControlName="designation" matInput >
              </mat-form-field> &nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Experience</mat-label>
                <input formControlName="experience" matInput >
              </mat-form-field>&nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input formControlName="address" matInput >
              </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <input formControlName="state" matInput >
              </mat-form-field> &nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Country</mat-label>
                <input formControlName="country" matInput >
              </mat-form-field>&nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Pincode</mat-label>
                <input formControlName="pincode" matInput >
              </mat-form-field> </mat-tab>
        <mat-tab label="Nominee Details"> <br>
            <mat-form-field appearance="fill">
                <mat-label>NomineeName</mat-label>
                <input formControlName="nomineeName" matInput >
              </mat-form-field>&nbsp;
            <mat-form-field appearance="fill">
                <mat-label>relationship</mat-label>
                <input formControlName="relationship" matInput >
              </mat-form-field> &nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Mobile</mat-label>
                <input formControlName="mobileNumber" matInput >
              </mat-form-field>&nbsp;<br><b><br></b>
        <button mat-raised-button type="submit" [disabled]="!userprofileForm.valid">Submit</button>
    </mat-tab>
    
    </mat-tab-group>
    </form>
      
    
      