.tab{
  height: 100px;
  font-family: 'Times New Roman', Times, serif;
}
.mat-elevation-z8{
  background-color: rgb(128, 170, 204);
  padding-bottom: 50px;
}
.state{
  border: 20px;
  margin:30px
}
.texter{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:50px;
  font-weight: bolder;
}
.menu{
  margin-right: 1500px;
  color: azure;
  background-color: brown;
}
mat-input+span{
  display:none;
  color:red;
}
mat-input.ng-invalid+span{
  display:inline;
}