
button{
    background: rgb(216, 224, 230);
    border-color: transparent;
    color: rgb(77, 51, 51);
    cursor: pointer;
}

.menu{
    margin-right: 1500px;
    background-color: brown;
    color: cornsilk;
    margin-left: 10px;
}
.mat-elevation-z8{
    background-color: rgb(128, 170, 204);
    padding-bottom: 20px;
}
.header1{
   
 margin-left: 10px;
 margin-bottom: 100px;
 padding-bottom: 50px;
}
.mat-elevation-z8{
    background-color: rgb(128, 170, 204);
    padding-bottom: 20px;
}
.button1{
    margin-left: 1400px;
}
.button2{
    margin-left: 100px;
}
.button3{
    margin-left: 10px;
}
.texter{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;
    font-weight: bolder;
}
.buttons{
    padding-right:10px;
}
